EMAIL=sender@example.com
PASSWORD=dummy-app-password
RECEIVER=receiver@example.com
CALENDAR_ID=dummy-calendar-id@group.calendar.google.com
CALENDAR_BARCELONA_ATLAS_ID=dummy-barcelona-calendar-id@group.calendar.google.com
APP_LOG_PATH=your-path/PySportsCalendar/logs/cron_log.log
